/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.452)), url(https://images.unsplash.com/photo-1515325595179-59cd5262ca53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: "Open Sans", sans-serif;
}
body main .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body main .content-wrapper {
    padding: 0 0.8rem;
    text-align: center;
  }
}
body main .title {
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  body main .title {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body main .description {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  max-width: 600px;
  padding: 1rem;
  line-height: 1.3rem;
}
@media screen and (max-width: 768px) {
  body main .description {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
  }
}
body main .button-wrapper {
  max-width: 400px;
}
body main .button-wrapper .button {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background-color: rgba(99, 0, 0, 0.911);
  color: white;
  border: none;
  font-family: "open sans", "sans serif";
}
@media screen and (max-width: 768px) {
  body main .button-wrapper .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
  }
}
body main .button-wrapper .button.button.generate {
  margin-right: 0.8rem;
}
body main .button-wrapper .button:hover {
  cursor: pointer;
  background-color: rgba(124, 0, 0, 0.966);
}
body main .tesis-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body main .tesis-wrapper {
    padding: 0 0.8rem;
    text-align: center;
  }
}
body main .tesis-wrapper .subtitle {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}
body main .tesis-wrapper .tesis-title {
  font-size: 1.3rem;
  max-width: 600px;
  width: 100%;
  line-height: 1.6rem;
}
body main .tesis-wrapper .tesis-subtitle {
  font-weight: bold;
  padding: 1rem;
}
body main .complex-wrapper {
  display: none;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  body main .complex-wrapper {
    line-height: 1.4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
